{% extends 'clientes/base.html' %}
{% block content %}
<h1>Lista de Clientes</h1>
<a href="{% url 'criar_cliente' %}">Novo Cliente</a>
<ul>
    {% for cliente in clientes %}
    <li>
        {{ cliente.nome }} || {{ cliente.email }} || {{ cliente.data_nascimento }}
        [<a href="{% url 'editar_cliente' cliente.pk %}">Editar</a>]
        [<a href="{% url 'excluir_cliente' cliente.pk %}">Excluir</a>]
    </li>
    {% empty %}
        <li>Nenhum cliente cadastrado.</li>
    {% endfor %}
</ul>
{% endblock %}


